/* This section contains styling applying to the body and comapny name header */

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.error {
  font-weight: bold;
  color: red;
}

.company-name-header-container {
  border-color: #4d004d;
  background-color: #4d004d;
}

#company-name-header {
  display: flex;
  justify-content: center;
  font-family: 'Dancing Script', cursive, Tahoma, Geneva, sans-serif;
  font-size: 50px;
  font-size-adjust: 0.58;
  color: #ffffff;
  margin-top: 0;
}

/* Styling for the body and company name header ends here */
/* Styling for the cart begins here */

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 50;
  background: rgba(0, 0, 0, 0.6);
}

.modal {
  display: none;
  width: 800px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
}

.close-cart {
  border-color: #ff3333;
  background-color: #ff3333;
  position: absolute;
  z-index: 1;
  top: 25px;
  right: 20px;
  padding: 5px 10px;
  color: white;
  cursor: pointer;
}

.close-cart:hover {
  border-color: #ff0000;
  background-color: #ff0000;
}

.modal-guts {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-guts > h1 {
  text-align: center;
}

.modal-header {
  font-weight: bold;
}

.item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal-header-container {
  display: flex;
  font-size: 20px;
}

#modal-header-title {
  flex: 1;
  padding: 1em;
}

#modal-header-quantity {
  flex: 0.5;
  padding: 1em;
}

#modal-header-price {
  flex: 0.25;
  padding: 1em;
  margin-right: 1em;
}

.book-title-span {
  flex: 1;
  margin: 1em;
  font-weight: bold;
}

.book-count {
  flex: 0.5;
  margin: 1em;
}

.book-price-span {
  flex: 0.25;
  margin: 1em;
}

.remove-from-cart {
  cursor: pointer;
  position: relative;
  right: 10px;
  margin-top: 1em;
  margin-bottom: 1em;
}

.total-container {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

.total {
  font-weight: bold;
  font-size: 20px;
}

/* Styling for the cart ends here */
/* Styling for the index page starts here */

ul {
  list-style: none;
  padding-left: 0;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.book-list-item-container {
  border: 1px;
  border-color: red;
  border-style: solid;
  height: 20em;
  width: 15em;
}

.book-list-image {
  height: 15em;
  width: auto;
  border: 1px;
  border-color: blue;
  border-style: solid;
}

.book-list-item {
  display: flex;
  justify-content: center;
}

/* Styling for the index page ends here */
/* Styling for the nav-bar starts here */

.nav-bar-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#search-input {
  width: 600px;
  height: 25px;
  border-color: #ffad33;
}

#search-input:focus {
  outline: none;
}

#search-input .search-button-container {
  position: relative;
}

.search-container .search-button-container {
  position: relative;
  left: 500px;
  bottom: 36px;
}

.search-button-container {
  width: 100px;
}

.nav-links-cart {
  display: block;
  width: 100%;
}

.nav-links-left {
  display: inline-block;
  padding: 10px;
}

.nav-links-right {
  display: inline-block;
  float: right;
  width: auto;
  padding: 10px;
}

.search-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 32px;
  width: 40px;
  background-color: #ffad33;
  border-color: #ffad33;
  position: relative;
  top: 5px;
  left: 105px;
}

.search-button:hover {
  background-color: #ff9900;
  border-color: #ff9900;
}

.search-button-image {
  position: relative;
  top: 7px;
  left: 70px;
  height: 25px;
  width: auto;
  cursor: pointer;
  pointer-events: none;
}

.open-cart {
  -webkit-appearance: none;
  background-color: #ffad33;
  border-color: #ffad33;
  color: #ffffff;
  height: 35px;
  cursor: pointer;
}

.open-cart:hover {
  background-color: #ff9900;
  border-color: #ff9900;
}

/* Styling for the nav-bar ends here */
/* Styling for the search page starts here */

.book-info-container {
  border-color: green;
  border-style: solid;
  height: 100px;
  max-width: 200px;
  min-width: 200px;
}

.page-links {
  display: flex;
  justify-content: center;
}

.page-links > div {
  margin: 1em;
}

/* Styling for the search page ends here */
/* Styling for the single book page starts here */

#single-book-main-info-container {
  display: flex;
}

#single-book-image {
  height: 400px;
  width: auto;
}

#single-book-info {
  padding: 1em;
}

#single-book-purchase-info {
  padding: 1em;
}

#single-book-isbn-publisher {
  padding: 1em;
}

.single-book-page-small-header{
  border-color: #4d004d;
  background-color: #4d004d;
  color: #ffffff;
  font-weight: bold;
  font-size: 30px;
  font-family: 'Dancing Script', cursive, Tahoma, Geneva, sans-serif;
}

#add-to-cart-button {
  -webkit-appearance: none;
  background-color: #ffad33;
  border-color: #ffad33;
  color: #ffffff;
  height: 35px;
  cursor: pointer;
}

#add-to-cart-button:hover {
  background-color: #ff9900;
  border-color: #ff9900;
}

#single-book-edit-button {
  -webkit-appearance: none;
  background-color: #ffad33;
  border-color: #ffad33;
  color: #ffffff;
  height: 35px;
  cursor: pointer;
  margin: 1em;
}

#single-book-edit-button:hover {
  background-color: #ff9900;
  border-color: #ff9900;
}

/* Styling for the single book page ends here */
/* Styling for the create book page starts here */

.create-book-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

/* Styling for the create book page ends here */
/* Styling for the admin page starts here */

.admin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#edit-role-button {
  -webkit-appearance: none;
  background-color: #ffad33;
  border-color: #ffad33;
  color: #ffffff;
  height: 35px;
  cursor: pointer;
  margin: 1em;
}

#edit-role-button:hover {
  background-color: #ff9900;
  border-color: #ff9900;
}

/* Styling for the admin page ends here */
