<% include ../partials/header.ejs %>

<div class="error-page-container">
  <img class="error-image" src="https://c1.staticflickr.com/8/7001/6509400855_aaaf915871_b.jpg">
  </img>
</div>

<% include ../partials/footer.ejs %>
