<% include ../partials/header.ejs %>

<div class="error-page-container">
  <img class="error-image" src="https://c1.staticflickr.com/8/7148/6508023065_8dae48a30b_b.jpg">
  </img>
</div>

<% include ../partials/footer.ejs %>
