<% include ../partials/header.ejs %>

<div class="error-page-container"
  <img class="error-image" src="http://maxpixel.freegreatpicture.com/static/photo/2x/File-Not-Found-Not-Found-404-Error-2384304.jpg">
  </img>
</div>

<% include ../partials/footer.ejs %>
