<%- include ../partials/header.ejs %>

    <h1>Create Book</h1>
    <form method="post" action="/books/create">
      <div>
        Title: <input name="title" required>
      </div>
      <div>
        Price: <input name="price" required>
      </div>
      <div>
        Image Link: <input name="image" required>
      </div>
      <div>
        Number in Stock: <input name="inStock" required>
      </div>
      <div>
        ISBN: <input name="isbn" required>
      </div>
      <div>
        Publisher: <input name="publisher" required>
      </div>
      <h1>Authors</h1>
        <div class="author-input">
          First Name: <input name="firstName0" required>
          Last Name: <input name="lastName0" required>
        </div>
        <button type="button" id="add-author-input">Add Author</button>
      <h1>Genres</h1>
        <div class="genre-input">
        <input name="genre0" required>
        </div>
        <button type="button" id="add-genre-input">Add Genre</button>
       <div>
         <input type="submit" value="Create Book">
       </div>
      </form>

<% include ../partials/footer.ejs %>
