<%- include ../partials/header.ejs %>

  <div class="create-book-container">
    <% if (message) {%>
      <div class="error" id="create-book-error"><%=message.invalidImage%></div>
      <% } %>
    <form method="post" action="/books/create">
      <h1 id="create-book-header">Create Book</h1>
      <div>
        <span>Title: </span>
          <input name="title" required>
      </div>
      <div>
        <span>Price: </span>
          <input name="price" required>
      </div>
      <div>
        <span>Image Link: </span>
          <input name="image" required>
      </div>
      <div>
        <span>Number in Stock: </span>
          <input name="inStock" required>
      </div>
      <div>
        <span>ISBN: </span>
          <input name="isbn" required>
      </div>
      <div>
        <span>Publisher: </span>
          <input name="publisher" required>
      </div>
      <h1>Authors</h1>
        <div class="author-input">
          First Name: <input name="firstName0" required>
          Last Name: <input name="lastName0" required>
        </div>
        <button class="create-book-page-button" type="button" id="add-author-input">Add Author</button>
      <h1>Genres</h1>
        <div class="genre-input">
        <input name="genre0" required>
        </div>
        <button class="create-book-page-button" type="button" id="add-genre-input">Add Genre</button>
       <div>
         <input class="create-book-page-button" type="submit" value="Create Book">
       </div>
      </form>
    </div>

<% include ../partials/footer.ejs %>
