<%- include ../partials/header.ejs %>

<ul class="book-list" id="homepage-books">
  <% if(books) {%>
    <% books.forEach(function(book) {%>
      <li class="book-list-item"><a href="/books/<%=book.id%>"><img class="book-list-image" alt="No Image Available" src=<%=book.img_url%>></a></li>
    <% }) %>
  <% } %>
</ul>

<ul class="book-list" id="search-books">
</ul>

<%- include ../partials/footer.ejs %>
