<%- include ../partials/header.ejs %>

<ul class="book-list" id="homepage-books">
  <% if(books) {%>
    <% books.forEach(function(book) {%>
      <li><a href="books/<%=book.id%>"><img src=<%=book.img_url%>></a></li>
    <% }) %>
  <% } %>
</ul>

<ul class="book-list" id="search-books">
</ul>

<%- include ../partials/footer.ejs %>
