<div class="modal-overlay"></div>
  <div class="modal">
    <button type="button" class="close-button">Close</button>
    <div class="modal-guts">
      <h1>Shopping Cart</h1>
      <ul class="modal-list">
      </ul>
    </div>
    <span class="total">Total: $0.00</span>
  </div>
