<h1 id="company-name-header">B & P Bookstore</h1>
<nav class="nav-bar-container">
  <a href="/">Home</a>
  <form method="get" action="/books/search" id="search-bar">
    <input id="search-input" type="text" name="search" placeholder="Search for Author, Title, or Genre" autofocus>
    <input class="search-button" type="submit" value="">
    <img class="search-button-image" src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Magnifying_glass_01.svg" alt="Magnifying Glass">
    </img>
  </form>
    <button type="button" class="open-cart">Cart (0)</button>
  <% include ./modal.ejs %>
  <div>
  <% if (role === 'admin') {%>
    <a href="/admin">Admin</a>
    <a href="/books/create">Add a new book</a>
  <% } %>
  <% if (session) {%>
    <a href="/logout">Log Out</a>
  <% } else { %>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
  <% } %>
  </div>
</nav>
