<nav>
  <a href="/">Home</a>
  <form method="get" action="/books/search" id="search-bar">
    <input type="search" name="search" placeholder="Search for Author, Title, or Genre" autofocus>
    <input type="submit" value="Search">
  </form>
  <button type="button" class="open-cart">Cart (0)</button>
  <% include ./modal.ejs %>
  <% if (role === 'admin') {%>
    <a href="/admin">Admin</a>
  <% } %>
  <% if (session) {%>
    <a href="/logout">Log Out</a>
  <% } else { %>
    <a href="/login">Log In</a>
    <a href="/signup">Sign Up</a>
  <% } %>
</nav>
