<div class="company-name-header-container">
  <h1 id="company-name-header">B & P Bookstore</h1>
</div>
<nav class="nav-bar-container">
  <div class="search-container">
    <form method="get" action="/books/search" id="search-bar">
      <input id="search-input" name="search" type="text" placeholder="Search for Author, Title, or Genre" autofocus/>
      <div class="search-button-container">
        <input class="search-button" type="submit" value=""/>
        <img class="search-button-image" src="https://upload.wikimedia.org/wikipedia/commons/3/3a/Magnifying_glass_01.svg" alt="Magnifying Glass">
      </div>
    </form>
  </div>
</nav>
<div class="nav-links-cart">
  <span class="nav-links-left">
    <a href="/">Home</a>
  </span>
  <span class="nav-links-right">
    <% if (role === 'admin') {%>
      <a href="/admin">Admin</a>
      <a href="/books/create">Add a new book</a>
      <% } %>
      <% if (session) {%>
        <a href="/logout">Log Out</a>
        <% } else { %>
          <a href="/signup">Sign Up</a>
          <a href="/login">Log In</a>
          <% } %>
    <button type="button" class="open-cart">Cart (0)</button>
  </span>
</div>
<%- include ../partials/modal.ejs %>
