<% include ../partials/header.ejs %>

<div class="admin-container">
  <h1>Change User Permissions</h1>
  <% if (message) {%>
    <div><%= message %></div>
  <% } %>
  <% if (errorMessage) {%>
    <div class="error"><%= errorMessage %></div>
  <% } %>
  <form method="POST" action="/admin/permissions?_method=PUT">
    <div>
      Username/Email: <input id="user-login" name="login">
    </div>
    <div>
      Role: <select name="role">
        <option value="reader">Reader</option>
        <option value="clerk">Clerk</option>
        <option value="admin">Admin</option>
      </select>
    </div>
    <input id="edit-role-button" type="submit" value="Edit Role">
  </form>
</div>

<% include ../partials/footer.ejs %>
