<% include ../partials/header.ejs %>

<div class="login-container">
  <% if (errorMessage) {%>
    <div class="error">
      <%= errorMessage %>
    </div>
    <% } %>
  <h1>Login</h1>
  <form class="form-container" method="post" action="/login">
    <label for="login">
      Username or Email Address: <input name="login" id="login" required>
    </label>
    <label for="password">
      Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input type="password" name="password" id="password" required>
    </label>
    <input class="login-button" type="submit" value="Login">
  </form>
</div>

<% include ../partials/footer.ejs %>
