<% include ../partials/header.ejs %>

<div class="login-container">
  <% if (errorMessage) {%>
    <div class="error">
      <%= errorMessage %>
    </div>
    <% } %>
  <h1>Login</h1>
  <form method="post" action="/login">
  <div>
    Username or Email Address: <input name="login" required>
  </div>
  <div>
    Password: <input type="password" name="password" required>
  </div>
  <input class="login-button" type="submit" value="Login">
  </form>
</div>

<% include ../partials/footer.ejs %>
