<% include ../partials/header.ejs %>

<div class="signup-container">
  <% if (errorMessage) {%>
    <div class="error">
      <%= errorMessage %>
    </div>
  <% } %>
  <h1>Sign Up</h1>
  <form class="form-container" method="post" action="/signup">
    <label for="username">
      Username:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input id="username" name="username" required>
    </label>
    <label for="email">
      Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input id="email" type="email" name="email" required>
    </label>
    <label for="password">
      Password:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <input id="password" type="password" name="password" required>
    </label>
    <label for="confirm-password">
      Password Confirmation:
      <input id="confirm-password" type="password" name="confirmPassword" required>
    </label>
    <input class="signup-button" type="submit" value="Sign Up">
  </form>
</div>

<% include ../partials/footer.ejs %>
